{% extends 'base.html' %}
{% load static %}

{% block title %}Profile{% endblock %}

{% block header %}Profile{% endblock %}

{% block body %}
<br>

<img src= {{ object.profileImage.url}} width="400" height="400">

<br>
<a href = "{% url 'new_image' %}"><button>Edit Pic</button></a>

<h3>Name: {{object.profileName}}</h3>
<a href = "{% url 'new_name' %}"><button>Edit Name</button></a>
<br>
<h3>Bio: {{object.profileBio}}</h3>
<a href = "{% url 'new_bio' %}"><button>Edit Bio</button></a>


{% endblock %}