{% extends 'base.html' %}

{% block title %}Today{% endblock %}

{% block header %}Today{% endblock %}

{% block body %}

<h1> 3.24.WED </h1>

{% for x in object_list %} 

{% if x.keyModel.keyName == '• Task' %}

{{x.keyModel.keyName}} : {{x.todayDesc}} ||
<a href = "{{ x.today_edit }}"><button>Edit</button></a>
<a href = "{{ x.today_delete }}"><button>Delete</button></a>
<a href = "{{ x.today_done }}"><button>Mark as Done</button></a>

<br>

{% else %}

{{x.keyModel.keyName}} : {{x.todayDesc}} ||
<a href = "{{ x.today_edit }}"><button>Edit</button></a>
<a href = "{{ x.today_delete }}"><button>Delete</button></a>
<br>

{% endif %}

{% endfor %}

<br>
<a href = "{% url 'new_today' %}"><button>Add Item</button></a>

{% endblock %}